<section class="hero" id="hero">
  <div class="container hero-container">
    <div class="hero-row">
      <div class="hero-title-box">
        <h1 class="hero-title">
          <span class="hero-title-white">ice cream made with</span>
          <span class="hero-title-passion">passion</span>
        </h1>
        <ul class="hero-links">
          <li class="hero-links-item">
            <a class="hero-link" href="#products"
              ><span class="hero-link-visual hero-link-visual--products"
                >Products</span
              ></a
            >
          </li>
          <li class="hero-item">
            <a class="hero-link" href="#made"
              ><span class="hero-link-visual hero-link-visual--made"
                >How it’s made?</span
              ></a
            >
          </li>
        </ul>
      </div>
      <div class="hero-network">
        <p class="hero-network-box">
          <span class="hero-network-number">16</span
          ><span class="hero-network-text">cafes</span>
        </p>
        <p class="hero-network-box">
          <span class="hero-network-number">23</span
          ><span class="hero-network-text">food trucks</span>
        </p>
      </div>
    </div>

    <div class="hero-row hero-row--second">
      <div class="hero-cta">
        <div class="hero-cta-image-box">
          <picture>
            <source
              srcset="/img/hero/jar-tab.webp 1x, /img/hero/jar-tab-2x.webp 2x"
              media="(min-width: 768px)"
            />
            <source
              srcset="/img/hero/jar.webp 1x, /img/hero/jar-2x.webp 2x"
              media="(min-width: 1200px)"
            />
            <img
              class="content-image"
              src="/img/hero/jar.webp"
              alt="Milk splashes out of a jar. There are two captions on a background saying BIO and ECO."
              width="213"
              height="216"
            />
          </picture>
        </div>
        <div class="hero-cta-text-box">
          <p class="hero-cta-text">
            Indulge in a scoop of ice cream made with passion and treat your
            taste buds to an unforgettable experience!
          </p>

          <a class="hero-cta-link" href=""
            ><span class="hero-cta-visual"></span
          ></a>
        </div>
      </div>

      <div class="hero-girl">
        <picture>
          <source
            srcset="/img/hero/girl-tab.webp 1x, /img/hero/girl-tab-2x.webp 2x"
            media="(min-width: 768px) and (max-width: 1199px)"
          />
          <source
            srcset="/img/hero/girl.webp 1x, /img/hero/girl-2x.webp 2x"
            media="(min-width: 1200px)"
          />
          <img
            class="content-image"
            src="/img/hero/girl.webp"
            alt="A beautiful girl enjoing cone icecream. A thought bubble beside says, Soooooo tasty!"
            width="304"
            height="241"
          />
        </picture>
      </div>
    </div>
  </div>
</section>
