<section class="locations" id="locations">
  <div class="container">
    <ul class="locations-list">
      <load
        src="/partials/location.html"
        label="cafe"
        labelClass="cafe"
        city="Chicago"
        desc="Handcrafted coffee, baked goods, and premium ice cream."
        weekdaysOpen="06:00 AM"
        weekdaysClose="10:00 PM"
        weekendOpen="08:00 AM"
        weekendClose="04:00 PM"
        phone="+61(0) 383 766 284"
        phoneFormated="+610383766284"
        email="noreply@envato.com"
      />

      <load
        src="/partials/location.html"
        label="food truck"
        labelClass="truck"
        city="Los Angeles"
        desc="Fusion cuisine and refreshing ice cream made with passion."
        weekdaysOpen="06:00 AM"
        weekdaysClose="10:00 PM"
        weekendOpen="08:00 AM"
        weekendClose="04:00 PM"
        phone="+61(0) 383 766 284"
        phoneFormated="+610383766284"
        email="noreply@envato.com"
      />

      <load
        src="/partials/location.html"
        label="cafe"
        labelClass="cafe"
        city="New York"
        desc="Specialty teas, artisanal pastries, mouth-watering ice cream."
        weekdaysOpen="06:00 AM"
        weekdaysClose="10:00 PM"
        weekendOpen="08:00 AM"
        weekendClose="04:00 PM"
        phone="+61(0) 383 766 284"
        phoneFormated="+610383766284"
        email="noreply@envato.com"
      />
    </ul>

    <ul class="locations-links">
      <li class="locations-links-item">
        <a class="locations-link locations-link--red" href="">
          <span class="locations-link-text">Our Locations</span>
          <svg class="locations-link-icon">
            <use href="#icon-chevron-right" />
          </svg>
        </a>
      </li>

      <li class="locations-links-item">
        <a class="locations-link locations-link--white" href="">
          <span class="locations-link-text">Franchise</span>
          <svg class="locations-link-icon">
            <use href="#icon-chevron-right" />
          </svg>
        </a>
      </li>
    </ul>

    <div class="locations-slogan-address-box">
      <p class="locations-slogan">
        <span class="locations-slogan-pink">homemade ice cream made</span>
        <span class="locations-slogan-red">with passion</span>
      </p>

      <address class="locations-contacts">
        <ul class="locations-socials">
          <li class="locations-social">
            <a href="" class="locations-social-link">
              <svg class="locations-social-icon">
                <use href="#icon-gh" />
              </svg>
            </a>
          </li>

          <li class="locations-social">
            <a href="" class="locations-social-link">
              <svg class="locations-social-icon">
                <use href="#icon-telegram" />
              </svg>
            </a>
          </li>

          <li class="locations-social">
            <a href="" class="locations-social-link">
              <svg class="locations-social-icon">
                <use href="#icon-fb" />
              </svg>
            </a>
          </li>
        </ul>

        <p class="locations-contacts-phone">
          <span class="locations-contacts-phone-text">
            Feel free to contact
          </span>

          <a href="tel:+610383766284" class="locations-contacts-phone-link">
            +61 (0) 383 766 284
          </a>
        </p>
      </address>
    </div>
  </div>
</section>
