<section class="made" id="made">
  <div class="container made-container">
    <p class="made-pretitle">tradition and love</p>

    <h2 class="made-title">how it’s made?</h2>

    <div class="made-article">
      <div class="made-image-box">
        <picture>
          <source
            srcset="/img/made/jar-mob.webp 1x, /img/made/jar-mob-2x.webp 2x"
            media="(max-width: 767px)"
          />
          <source
            srcset="/img/made/jar-tab.webp 1x, /img/made/jar-tab-2x.webp 2x"
            media="(min-width: 768px) and (max-width: 1199px)"
          />
          <source
            srcset="/img/made/jar.webp 1x, /img/made/jar-2x.webp 2x"
            media="(min-width: 1200px)"
          />
          <img
            class="content-image"
            src="/img/made/jar.webp"
            width="501"
            height="501"
            alt="Collage featuring a jar of milk in the foreground and a cow in the background."
            loading="lazy"
          />
        </picture>
      </div>
      <div class="made-desc">
        <p class="made-desc-1">
          Ice is a place where you will become not only a little happier, but
          also healthier. Health is the main value for us, and we follow it when
          creating our handmade desserts.
        </p>
        <p class="made-desc-2">
          We use traditional recipes and 100% natural ingredients. Our products
          are so natural that they can be given to children from the age of
          three years. Sweets lovers can expect 55 types of ice cream, 15 types
          of coffee and 23 milkshakes.
        </p>
        <a href="" class="made-link"
          ><span class="made-link-text">Read more</span>
          <svg class="made-link-icon" width="6" height="10"><use href="#icon-chevron-right" /></svg>
        </a>
      </div>
    </div>

    <ul class="made-features">
      <load
        src="/partials/made-feature.html"
        iconName="cow"
        number="721"
        desc="At 721 Cow, we're passionate about producing the highest quality ice cream possible."
      />

      <load
        src="/partials/made-feature.html"
        iconName="apples"
        number="16kg"
        desc="You can be sure you're getting a scoop of the freshest ice cream around."
      />

      <load
        src="/partials/made-feature.html"
        iconName="heart"
        number="84"
        desc="We use only the freshest, locally-sourced ingredients to make our 84 unique and delicious flavors."
      />
    </ul>
  </div>
</section>
