@import 'variables';

// header plan
// delete header indicator
// adjust header padding top
// adjust header sticky top
// change header observer from header indicator to header
// add top padding to hero
// add negative margin to hero

html {
  --color-light-pink: #fff5f6;
  --color-medium-pink: #ffb8ca;
  --color-pink: #ffa5ba;
  --color-red: #d41443;
  --color-creme: #f0d1a5;
  --color-green: #c2e297;
  --color-grey: #ecebeb;
  --transition: 250ms linear;
}

.header-position-indicator {
  @media (min-width: 768px) {
    height: 20px;
  }
  
  @media (min-width: 1200px) {
    height: 25px;
  }
}

.header {
  padding: 8px 0;
  position: sticky;
  top: 0;
  transition: background-color var(--transition);
  
  @media (min-width: 768px) {
    padding: 12px 0;
  }
  
  &.header-sticky {
    background-color: var(--color-medium-pink);
    z-index: 15;
    transition-duration: 0ms;
  }

  &-container {
    display: flex;
    align-items: center;
    padding: 0 8px 0 20px;

    @media (min-width: $screen-tab) {
      padding-inline: 32px;
    }
  }

  &-nav {
    display: none;

    @media (min-width: $screen-tab) {
    }

    @media (min-width: 1200px) {
      display: block;
      margin-left: 128px;

      &-list {
        gap: 35px;
      }

      &-item {
        flex-shrink: 0;
      }

      &-link {
        display: inline-block;
        line-height: 44px;
        font-weight: 700;
        color: #fff;
        transition: color var(--transition);

        &:hover {
          color: var(--color-grey);
        }
      }
    }
  }

  &-buttons-box {
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 20px;
  }

  &-menu-btn {
    width: 44px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;

    @media (min-width: 1200px) {
      display: none;
    }
  }

  &-cta-btn {
    display: none;

    @media (min-width: $screen-tab) {
      display: flex;
    }
  }
}
