.product {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 140px;
  border-radius: 24px;
  height: 489px;
  padding: 160px 0 38px;

  @media (min-width: 768px) {
    height: 483px;
    padding-top: 118px;
  }

  @media (min-width: 1200px) {
    margin-top: 281px;
    height: 535px;
    padding: 165px 0 60px;
  }

  &-pink {
    background-color: var(--color-medium-pink);
  }

  &-cream {
    background-color: var(--color-creme);
  }

  &-green {
    background-color: var(--color-green);
  }

  &-image-box {
    position: absolute;
    top: -140px;
    width: 100%;

    @media (min-width: 768px) {
      top: -138px;
    }

    @media (min-width: 1200px) {
      top: -261px;
    }
  }

  &-title {
    font-family: 'Titan One', sans-serif;
    line-height: 1;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0.04em;
    text-align: center;
    text-transform: uppercase;
    color: #fff;

    @media (min-width: 1200px) {
      font-size: 30px;
    }
  }

  &-dots {
    &-box {
      display: flex;
      justify-content: center;
      gap: 4px;
      margin-top: 32px;
    }

    &-dot {
      border-radius: 50%;
      width: 6px;
      height: 6px;
      background-color: #fff;
    }
  }

  &-description {
    margin-top: 32px;
    width: 216px;
    line-height: 1.52;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;

    @media (min-width: 768px) {
      width: 188px;
      line-height: 1.76;
    }

    @media (min-width: 1200px) {
      width: 304px;
      font-size: 16px;
    }
  }

  &-link {
    display: block;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    width: 44px;
    height: 44px;

    &:hover &-visual {
      transform: scale(1.1);
    }

    &-visual {
      display: block;
      border-radius: 50%;
      width: 40px;
      height: 40px;
      background-image: url('../img/products/arrow-2x.webp');
      background-size: contain;
      background-position: center;
      transition: transform 200ms linear;
    }
  }
}
