$screen-tab: 768px;
$screen-desk: 1200px;

html {
  --color-light-pink: #fff5f6;
  --color-medium-pink: #ffb8ca;
  --color-pink: #ffa5ba;
  --color-red: #d41443;
  --color-red-10: #aa1036;
  --color-creme: #f0d1a5;
  --color-brown: #907e82;
  --color-green: #c2e297;
  --color-grey: #ecebeb;
  --color-grey-border: #e1e1e1;
  --transition: 250ms linear;
}
